= form_with(url: search_index_path, method: :get) do |f|
  .flex.items-center
    p.text-white.text-xl.mr-2 = "\u{1F50D}"
    = f.search_field :q, value: params[:q], class: "bg-gray-700 text-white placeholder-gray-300 border-0 p-2 mr-4"
