gmp-map center="#{organization.address.latitude},#{organization.address.longitude}" zoom="13" map-id="organization_map_id"
  gmp-advanced-marker position="#{organization.address.latitude},#{organization.address.longitude}" title="#{organization.name}"
